.bt-section {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    min-height: 1%;
}

.bt-s-primary {
    background-color: #0C1921;
    color: #E6E6E6;
}

.bt-s-secondary {
    color: #0C1921;
    background-color: #E6E6E6;
}

.bt-s-divider {
    border-bottom: 2px solid #5DD2FE;
}